<footer>
	<div class="bottom-last">
		<div class="container">
			<div class='row'>
				<div class='col-sm-4'>
					<div class='footer-about'>
						<div class='footer-headline'><i class="fa fa-info"></i>About Us</div>
							We are a diverse collective of young black men and women focused on unifying and uplifting black communities across the diaspora. Motivated and mobilized by the recent--and continuing--spate of black deaths in the United States, the Xcons (members) of AXN all affirm that...<a ui-sref="about">read more</a>
						</div>
					</div>
				<div class='col-sm-3'>
					<div class='footer-address'>
						<div class='footer-headline'><i class="fa fa-map-marker"></i>Location</div>
				
					7211 Regency Sq. Ste 102,<br>
					 Houston, TX, 77036<br>
						<span style="text-align:left;">	 
		        	 <span class="glyphicon glyphicon-envelope">
		         	 <a class="email" href="mailto:getinvolved@axnation.com">getinvolved@axnation.com</a></span>
		           <span class="glyphicon glyphicon-envelope">
		             <a class="email" href="mailto:info@axnation.com">info@axnation.com</a></span></span><br><br>
		          	<p>
		       <a href="https://twitter.com/theAlibiXstory" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
		        <a href = "https://instagram.com/thealibixstory" target="_blank"><i class="fa fa-instagram fa-2x" ></i></a>
		        <a href = "https://www.youtube.com/channel/UCxpHF5PQxUzJ81YzkDaALNQ" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></p>

				</div>
				</div>
				<div class='col-sm-2'>
				<div class='footer-menu'>
				<div class='footer-headline'><i class="fa fa-list-ul"></i>Menu</div>
				<ul>
				<li><a ui-sref="about"><span class="glyphicon glyphicon-user"></span>Who We Are</a></li>
		        <li><a ui-sref="events"><span class="glyphicon glyphicon-briefcase"></span>Events</a></li>
		         <li><a ui-sref="services"><span class="glyphicon glyphicon-th"></span>Services</a></li>
		         <li><a ui-sref="getinvolved"><span class="glyphicon glyphicon-pushpin"></span>GetInvolved</a></li>
		      
		        <li><a ui-sref="contact"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li> </ul>	
				</div>
				</div>
				<div class='col-sm-3'>
				<div class='footer-connect'>
				<div class='footer-headline'><i class="fa fa-envelope"></i>Stay Connected</div>
				<span>Give us your email, for the update about our activities and event</span>	

		       <!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//alibixclothing.us8.list-manage.com/subscribe/post?u=8188632ae9648034a5d441e49&amp;id=3fb37b1ee8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<label for="mce-EMAIL"></label>
		    <div id="mc_embed_signup_scroll" class='input-group'>
			
			<input type="email" value="" class='form-control' name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8188632ae9648034a5d441e49_3fb37b1ee8" tabindex="-1" value=""></div>
		    <span class="input-group-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger"></span>
		    </div>
		</form>
		</div>

		<!--End mc_embed_signup-->

		   

			</div>
			</div></div>
			</div>
			</div>
			<div class="bottom">
			  <div class='container'>
				<div class="row">
					<div class='footer-copy'
					<div class="col-sm-12">
						<h5>Copyright &copy; 2015 AXNATION. All rights reserved</h5>
					
				</div>
			</div>
		</div>
	</div>
		
</footer>