<header>
	<div class="container">

	    <div class="row">
	     <div class="col-xs-6"> 
	    		<a ui-sref="home"><img ng-src="assets/images/AXNLogo.png" class="img-responsive"></a>
	    	</div>
	    	
             <div class="col-xs-6 pull-right">
		    	<div class='donate'> 
		    	 	<!-- <a href="https://paypal.com" target="_blank" style="font-size:1.8em;font-weight:900px;"><button type="button" class="btn btn-warning btn-lg"> DONATE VIA &nbsp;<i class="fa fa-cc-paypal fa-2x"></i></button></a> -->

		    	 	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="TLYW2W9F2DJQ2">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
		    	</div>
             
		    </div>
	      <!--  <div class="col-md-3 col-sm-4 hidden-xs">
		    	 <div class='snetwork'>
			        <a href="https://twitter.com/theAlibiXstory" target="_blank"><i class="fa fa-twitter fa-3x" ></i></a>
			        <a href = "https://instagram.com/thealibixstory" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
			        <a href = "https://www.youtube.com/channel/UCxpHF5PQxUzJ81YzkDaALNQ" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
			     	</div>
		    </div> -->
	    	
	     
	 
	   		
		    <!-- </div>	
		    </div> -->
	    </div>
	  </div>
  </header>