<section>
  <div class="contact-page">
    <div class="container">
      <div class="row">
        <h1 class='text-center'>Get in touch and say hello!</h1><br>
        <div class="col-sm-8">
          <div class="contact-left">
            <p>We are a non profit organization known to be relational..You can communicate with us througn email or contact form...We're here to listen, answer your questions or share our story.</p>
          </div>
          <div class="contact-left-bottom">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 well">
                <div class="col-xs-6">
                  <p>
                    Trusting us with your basic info means you're going to keep up with <kbd>AXNation</kbd> on how we're changing the world!
                  </p>
                </div>
                <div class="col-xs-6">
                  <p>
                   AXNation we protect your contact information. We don't sell your information and we don't send junk.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-email">
          <div class="col-sm-4 well">
            <h5>Want to know more about us?</h5>
              <span><a href='mailto:info@axnation.org'>info@axnation.org</a></span>
            <h5>What to become AXNation Partner?</h5>
              <span><a href='mailto:partners@axnation.org'>partners@axnation.org</a></span>
            <h5>Are you a journalist?</h5>
              <span><a href='mailto:media@axnation.org'>media@axnation.org</a></span>
            <h5>Just want to say hello?</h5>
              <span><a href='mailto:hello@axnation.org'>hello@axnation.org</a></span>
          </div>
        </div>
      </div>
    </div> 
  </div><br><br>
  <div class="contact-form">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div id='map'>
            <iframe
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9C6EQog9vhhMKUOtl4Y8EsbNKv1BApPQ
                &q=7211+Regency+Sq.+Ste 102,Houston,TX+77036&zoom=14" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h2 class="panel-title">Inquiry form</h2>
            </div>
            <div ng-controller="ContactCtrl" class="panel-body">
              <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                  <label for="inputName" class="col-lg-2 control-label">Name</label>
                  <div class="col-lg-10">
                      <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
                      <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                  <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                  <div class="col-lg-10">
                    <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject" required>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                  <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                  <div class="col-lg-10">
                      <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                            Send Message
                    </button>
                  </div>
                </div>
              </form>
                <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
