/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower

html, body
  position relative
  width 100%
  height 100%
  bottom 0
  font-family:Georgia, serif;
  font-weight 400
  color #595C59
h1, h2, h3
  font-weight 900

.main-wrapper
  min-height 100%
  height auto !important
  height 100%
  margin-bottom 30px


header
  position fixed
  top 0
  left 0
  z-index 999
  width 100%
  height 70px
  border-bottom 1px solid #226c35
  background #fff

header .donate
  float right
  margin-top 10px
    
header .snetwork
  float right
  padding-top 10px

header img
  float left
  margin auto
  padding-top 10px

.snetwork .fa 
  color black 

.snetwork .fa-twitter:hover
  color #059DF0

.snetwork .fa-instagram:hover
  color #1E5C85

.snetwork .fa-youtube:hover
  color #F00524

.navbar-inverse
  background-color #1C7B4F
  border-color black
  background #1c7b4f

 
.navbar-inverse .navbar-nav span
  color #D5EBD6
  padding-right 5px

.navbar-inverse .navbar-nav span:hover
  color #E8DADA

.navbar-inverse .navbar-nav > li > a
  font-weight bold
  color #D5EBD6

.navbar-inverse .navbar-brand span
  color #1C7B4F
 
.navbar
  margin-top 70px

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
  color #fff
  background-color #062F33

.navbar-toggle
  border 0 solid #0E7480

.navbar-inverse .navbar-toggle
  border-color #0E7480

.navbar-inverse .navbar-toggle:hover
  background-color #0E7480

.navbar-inverse .navbar-toggle:focus
  background-color #DE240B

.nav > li
  position relative
  display inline-block
  padding 5px 0

section
  margin-top 140px
  height 100%

.main-carol
  width 100%
  height 100%
  margin-top -15px
  background-color #323D34

.main-carol img
  width 100%
  height 800px

.main-carol .carousel-text-caption
  float right
  width 100%
  height 100%
  padding 20px
  
.carousel-text-caption h3
  font-size 1.8em
  font-weight bolder
  color red

.carousel-text-caption p
  font-size 1.5em
  font-weight bolder
  color #1C7B4F
  margin-right 20px
  
.instagram-title
  width 100%
  height 100%
  margin 30px 0

.main-subline img
  width 100%
  margin 30px 0

.instagram-title h3
  text-align center
  margin auto
  color #1C7B4F
  opacity 0.3
  padding 10px

.instagram-title .fa:hover
  color #1C7B4F

.main-story-body
  width 100%
  height 100%
  background #f8f8f8
 
.main-subheading
  width 100%
  margin 20px 0
  text-align center

.main-subheading img
  width 100%
  height 100px

.main-subheading h1
  width 80%
  font-family "open sans"
  font-weight 900
  font-size 3.5em
  color #1C7B4F
  margin auto
  text-transform uppercase

.main-subheading p
  font-family "open sans"
  font-size 1.8em
  font-weight 400
  color #1C7B4F

.main-subheading span
  font-size 1.8em
  color #DBD6C5
  font-weight bolder

.main-story
  margin 20px 0
  padding 40px 0

.main-story p
  font-size 16px

.main-story-left
  padding-right 20px

.nav-tabs > li > a
  color #1C7B4F
  font-family "open sans" 
  font-size 1.2em

.main-story-left a
  color #DEAC0B

.main-story-left a:hover
  color black

.main-story-left img
  width 100%
  height 280px

.pay-button-main
  height 100%
  margin 25% 10%

.youtube
  width 100%
  height 300px
  margin-top 10px

.main-instagram-img img
  width 100%

.about-main
  width 100%
  height 300px
  margin-top -10px
  background url('../assets/images/caro5.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

.about-body
  width 100%
  height 100%
  color #3C3D3B
  margin-bottom -30px

.about h1
  margin 30px 0
  color #1C7B4F
  font-weight bolder

.about p
  font-size 16px
  font-family:Georgia, serif;

.about-whoweare
  width 100%
  height 100%
  margin 50px 0
  background #fff
  
.whoweare
  margin 20px 0 40px 0

.whoweare img
  margin-top 60px
  width 100%

.about-whatwedo
  width 100%
  height 100%
  background #f8f8f8
  margin 30px 0;
  padding 20px

  p
   padding-bottom 30px

.about-ourgoal
  width 100%
  height 100%
  background #fff
  margin 30px 0;
  
.service-wrap
  width 100%
  height 100%
  margin -20px 0 -50px 0
  background #ddd u
  color #414543

.service-banner
  width 100%
  height 300px
  background url('https://s3.amazonaws.com/inventtive/axnation/slider-we3.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  margin-top -20px

.service-main
  margin 30px 0

.service-main img
  width 100%
  height 90px

.service-main h1
  color #1C7B4F
  font-weight 900

.service-main ul li
  list-style square
  font-size 24px
  font-weight 400

.service-ul
  margin 30px 0

.service-bottom
  width 100%
  height 150px
  background-color #ddd
  margin 0 0 -30px 0
  background #ddd

.contact-left p
  font-size 18px
  font-weight 400

.contact-left-bottom
  margin-top 40px

.contact-left-bottom .well
  background #f8f8f8

.contact-left-bottom kbd
  background #cde5ca

.contact-left-bottom p
  font-size 17px
  font-weight 400

.contact-email .well
 background #cde5ca 

.contact-email a
  color #1c7b4f
  font-size 14px

.contact-email a:hover
  color #e24a07

.contact-email h5
  font-size 18px


.panel-danger > .panel-heading
  color #fff
  background-color #f8f8f8
  border-color #ddd 

.panel-title
  text-align center

.panel-danger
  border-color #ddd

.panel-body
  background-color #f8f8f8
  color #333

.input-group-addon
  background-color #B6BEC2
  border-color #B6BEC2


.contact-map
  width 100%
  background-color #eaeaea
  text-align center
#map iframe
  width 100% 
  height 400px
  margin auto
  padding-top 1%
   
 

.getinvolved-main
  width 100%
  height 100%
  background url('../assets/images/d-img2.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  margin-top -20px

.getinvolved-top
  margin 20% auto
  text-align center

.getinvolved-top h1
  color #dfdfdf
  text-transform uppercase
  font-size 90px
  font-weight 900
  vertical-align middle
  text-shadow 0 2px 1px #fff
  

.getinvolved-top p
  color white
  font-size 25px
  font-weight 600
  background-color black
  opacity 0.3
  padding 15px
 
.getinvolved-body
  width 100%

.getinvolved-body img
  width 100%

.getinvolved-header h1
  font-weight 900
  margin  10px auto
  width 100%
  color #1C7B4F
  text-align center
  padding 10px 0

.getinvolved-body p
  font-size 20px
  padding-top 20px

.getinvolved-button
  width 100%
  height 100%
  margin 10px 0 -30px 0
  background url('../assets/images/bg-bl.jpeg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  padding 30px 0
  text-align center


.getinvolved-content
  background #ddd url('../assets/images/bg-bottom.jpg') no-repeat  center  center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  color #202B26
  padding 25px 15px
  font-weight 900
  margin-bottom -10px

.events-top-main
  width 100%
  height 100%
  margin-top -30px
  margin-bottom 20px
  padding 30px 0
  border-bottom 2px solid #eaeaea
  text-align center

.events-top-main img
  height 100px
  display inline

.events-top-main h1
  font-weight 900
  font-size 40px
  color #1C7B4F
  text-transform uppercase
  
.ytube
  width 100%
  height 300px
  margin 20px 0 30px 0

footer
  bottom: 0
  width 100%
  height 100%
  font-weight 400
  
.bottom
  
  width 100%
  height 100%
  padding 15px
  background #1C7B4F
.bottom .footer-copy h5
  padding-top 10px  
  font-size 1.1em
  text-align center
  color #D5EBD6


.bottom-last
  background #f8f8f8
  width 100%
  height 100%
  padding 15px
  color #333
  border-top 3px solid #ddd

.bottom-last .footer-menu ul
  list-style none

.bottom-last .footer-menu span
  padding-right 10px
  margin-left -35px


.bottom-last .footer-menu ul > li > a 
  padding-bottom 10px
  padding-right -40px
  color #333

.bottom-last .footer-headline
  padding-bottom 10px
  font-size 20px
  font-weight bolder
  color #1C7B4F

.bottom-last .footer-headline .fa
  padding-right 10px

.footer-address a
  color #1C7B4F

.footer-address .fa-twitter, .fa-instagram, .fa-youtube
  color #55944D

.footer-address .fa:hover
  color #ABDECC

.footer-about a
  color #8A810A
  font-weight bolder

.footer-connect .input-group
  margin-top 5px

form #inputName, #inputCompany, #inputEmail, #inputPhone, #inputUrl
  height 50px

.map-page
  width 100%
  height 100%
  margin -10px 0 -30px 0

.map-page map
  width 100%
  height 400px
  
.map-page map span
  font-size 1.8em
  font-weight bolder
  color #1C7B4F

.hidden
  display none

.message
  padding 15px 
  margin 0



  



  