<section>
	<div class='service-wrap'>
		<div class='service-banner'>	
		</div>
		<div class='container '>
			<div class="row service-table">
				<div class="col-sm-6">
					<table class="table table-hover table-responsive">
						<tr>
					    <th><h1><i class='fa fa-user-plus'></i> Partners Benefits</h1></th>
					  </tr>
					  <tr ng-repeat="partner in partners" class='service-ul'>
					    <td>{{partner.reward}}</td>
					  </tr>
					</table>
				</div>
				<div class="col-sm-6">
					<table class="table table-hover table-responsive">
						<tr>
					    <th><h1><i class='fa fa-users'></i>&nbsp;Members Benefits</h1></th>
					  </tr>
					  <tr ng-repeat="member in members" class='service-ul'>
					    <td>{{member.benefit}}</td>
					  </tr>
					</table><br>
				</div>
			</div>
		</div>
	</div>
	<div class="service-banner-bottom"></div>
</section>